.wrap {
    width: 80%;
    border: 1px solid #18b0f3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.item {
    width: 33.3%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18b0f3;
    transition: all 0.3s linear 0s;
}

.item:hover {
    background-color: #18b0f3;
    color: #ffffff;
    transition: all 0.3s linear 0s;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) {
    .wrap {
        width: 100%;
        flex-direction: column;
        border: none;
    }

    .item {
        width: 80%;
        border-bottom: 1px solid;
        padding-bottom: 5px;
    }

}


















